* {
  box-sizing: border-box;
}
.pb {
  width: 570px;
  height: 700px;
  border: 1px solid #aacdff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #0068ff40;
  border-radius: 5%;
}
.ib {
  width: 470px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.infoTitle {
  font-style: Noto Sans CJK KR;
  font-size: 32px;
  color: #0068ff;
  font-weight: 700;
}

.boxName {
  position: relative;
  color: #797979;
  width: 468px;
  height: 80px;
  top: 40px;
  padding: 10px;
}
.inputBox {
  /* margin-top: 30px; */
  border-width: 0 0 1px;
  border-color: #797979;
  width: 100%;
  height: 40px;
}
.inputBox:focus {
  outline: none;
  border-width: 0 0 1px;
  border-color: blue;
}

.gBox {
  width: 100%;
  height: 24px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gBoxInner {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.agree {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.agreeText {
  margin-left: 10px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirmBtn {
  width: 270px;
  height: 30px;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #0068ff;
  box-shadow: 3px 3px 3px #0068ff40;
  transition-duration: 0.3s;
}
.confirmBtn:active {
  background-color: #0068ff40;
}
